<div class="sidebar">
    <div class="heading">
        <div class="listings">
            <% centres.forEach(c => {%>
            <div class="item" id="listing-<%= c._id %>">
                <a href="/map?id=<%= c._id %>" class="title" id="link-<%= c._id %>"><%= c.contact[0] %> · <%= c.contact[1] %></a>
                <%if (c.distance) { %>
                    <%  var roundedDistance = Math.round(c.distance * 100) / 100; %>
                <p><strong><%= roundedDistance %> km away</strong></p>
                      <%} %>
            </div>
            <% }); %> 
        </div>
    </div>
</div>
<div id="map">
</div>
<script
      src="<%= `https://maps.googleapis.com/maps/api/js?key=${apikey}&callback=initMap&libraries=&v=weekly&region=NG` %>"
      async
></script>